<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Blogum{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('theme/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('theme/css/blog-post.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {{ include('HursitBlogBundle:Default/includes:navbar.html.twig') }}
    <div class="container">
    <div class="row">
            <div class="col-lg-8">
                {% block body %}
                {% endblock %}
            </div>
            {{ include('HursitBlogBundle:Default/includes:right_menu.html.twig')}}
            
        </div>

        <hr>

        {{ include('HursitBlogBundle:Default/includes:footer.html.twig') }}
    </div>
    <!-- /.container -->

            {% block javascripts %}
                <script src="{{ asset('theme/js/bootstrap.js') }}" type="text/javascript"></script>
                <script src="{{ asset('theme/js/bootstrap.min.js') }}" type="text/javascript"></script>
                <script src="{{ asset('theme/js/jquery-2.1.0.min.js') }}" type="text/javascript"></script>
            {% endblock %}
    </body>
</html>